<div class="container mt-5">

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <div class="modal-content mt-1 width-400px">
                <div class="modal-header">
                    <h4 class="text-center">Успешно!</h4>
                </div>
                <div class="modal-body">
                    <p>Объявление было успешно создано и отправлено на модерацию.</p>
                    <a class="text-center" asp-controller="Home" asp-action="Adverts">Перейти к просмотрю объявлений</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        </div>
    </div>
