@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - found</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="main-background">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top background-blue header-height">
            <div class="container-fluid">
                @if (@HttpContextAccessor.HttpContext.Session.GetInt32("roleid") == 1)
                {
                    <a class="navbar-brand text-colour" asp-area="" asp-controller="Home" asp-action="Adverts">found</a>
                }
                else if (@HttpContextAccessor.HttpContext.Session.GetInt32("roleid") == 2)
                {
                    <a class="navbar-brand text-colour" asp-area="" asp-controller="Admin" asp-action="Admin">found</a>
                }
                else
                {
                    <a class="navbar-brand text-colour" asp-area="" asp-controller="Users" asp-action="Login">found</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_RolePartial" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container mt-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>   

    <footer class="border-top footer text-muted background-blue">
        <div class="container text-white">
            &copy; 2022 - found - Универсальная площадка для поиска потерянных вещей
            <a class="text-white" asp-area="" asp-controller="" asp-action="">Правила использования</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
